body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-family: 'Gochi Hand', cursive;
}

.main {
    background-color: #40A2E3;
    box-shadow: 3px 3px 4px;
    margin-top: 50px;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.question {
    background-image: url(board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    border-radius: 10px;
    width: 90%;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-down {
    margin-top: 20px;
    width: 250px;
    border-radius: 10px;
    height: auto;
    background-color: #0D9276;
    border: 1px solid black; 
    color: white;  
    display: flex;
    align-items: center;
    font-size: larger;
    justify-content: center;
}

.choice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.option {
    width: 100px;
    height: 50px;
    background: #0D9276;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 1;
}

.option:hover {
    background-color: #00ffc8;
}

.score {
    margin: 20px 0px 0px 4px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    border: 1px solid black;  
    background-color: #FFD23F;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score-count {
    font-size: 20px;
}

.down {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

#btn, #btn2 {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#btn {
    background-color: #85ff3f;
}

#btn:hover {
    background-color: grey;
    color: white;
}

#btn2 {
    background-color: #f74d30;
}

#btn2:hover {
    background-color: grey;
    color: white;
}

#btn3 {
    background-color: #85ff3f;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.timings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 49px;
    border: 1px solid black;  
    background-color: #0D9276;   
    border-radius: 10px;
}

.mult-text {
    font-size: 40px;
    color: white;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#gameover {
    width: 100%;
    height: auto;
    border: 1px solid black; 
    background: linear-gradient(rgb(185, 57, 6), rgb(211, 37, 37));
    position: fixed;
    top: 100px;
    align-items: center;
    display: none;
}

h1 {
    margin-top: 70px;
    color: white;
    font-size: 90px;
}

h2 {
    color: white;
    font-size: 20px;
}

h3 {
    color: white;
}

/* @media screen and (max-width: 878px) {
    .main {
        width: 350px;
    }
    .option {
        width: 50px;
        margin-right: 10px;
    }
    .choice-container {
        margin-left: 35px;
    }
    #btn {
        margin-left: 40px;
    }
    .question {
        width: 250px;
        margin-left: 30px;
        font-size: small;
    }
    .question-down {
        width: 180px;
    }
    .score {
        width: 70px;
    }
    .top {
        margin-left: 40px;
    }
    .timings {
        width: 30%;
        font-size: 15px;
    }
} */

@media screen and (max-width: 544px) {
    .main {
        width: 320px;
    }
    .option {
        width: 50px;
        margin-right: 2px;
    }
    .choice-container {
        margin-left: 10px;
    }
    #btn {
        margin-left: 5px;
    }
    .question {
        width: 250px;
        margin-left: 36px;
        font-size: small;
    }
    .question-down {
        width: 180px;
        font-size: 15px;
    }
    .score {
        width: 70px;
    }
    .top {
        margin-left: 10px;
    }
    .timings {
        width: 30%;
    }
}

@media screen and (max-width: 348px) {
    .main {
        width: 270px;
    }
    .option {
        width: 45px;
    }
    .choice-container {
        margin-left: 10px;
    }
    #btn {
        margin-left: 30px;
        width: 60px;
    }
    #btn2 {
        width: 60px;
    }
    .question {
        width: 250px;
        margin-left: 30px;
        font-size: small;
        margin-right: 30px;
    }
    .question-down {
        width: 180px;
        margin-left: 15px;
    }
    .score {
        width: 70px;
        margin-left: 0;
    }
    /* .top {
        margin-left: 5px;
    } */
}

@media screen and (max-width: 280px) {
    .main {
        width: 250px;
    }
    .option {
        width: 40px;
        margin-right: 5px;
    }
    .choice-container {
        margin-left: 10px;
    }
    #btn {
        margin-left: 30px;
        width: 60px;
    }
    #btn2 {
        width: 60px;
    }
    .question {
        width: 240px;
        /* margin-right: 2px; */
        font-size: small;
    }
    .question-down {
        width: 160px;
        margin-left: 25px;
        font-size: 13px;
    }
    .score {
        width: 60px;
        margin-left: 0;
        margin-right: 15px;
    }
    #score-count {
        font-size: 15px;
        padding: 2px;
    }
    .top {
        margin-left: 10px;
    }
    /* .timings {
        width: 50%;
    } */
}
